.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service{
    flex-basis: 31%;
    position: relative;
    overflow: hidden; 
}

.service img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}


.caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 15, 152, 0.3);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    opacity: 0; 
    padding-top: 70%;
    transition: 0.4s;
}
.service:hover .caption{
    opacity: 1;
    padding-top: 0;

}