.hero {
  width: 100%;
  height: 100vh;

  background-image: url("../../assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 0, 58, 0.65);
  z-index: 1;
}


.hero-text {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  padding: 0 20px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 28px;
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0284c7;
}
