.contactus {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contactus-col {
  flex-basis: 48%;
  color: #676767;
}

.contactus-col h3 {
  color: #000f30;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contactus-col p {
  max-width: 450px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contactus-col ul {
  padding: 0;
  margin: 0;
}

.contactus-col ul li {
  list-style: none;
  margin-bottom: 12px;
  line-height: 1.5;
}

.contactus form input, .contactus form textarea{
    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contactus-col span{
    display: block;
    margin: 20px 0;
}

.contact-title {
  text-align: center;
  margin-bottom: 60px;
}

.contact-title h5 {
  color: #0066ff;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.contact-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
